.navbar-fixed-top {
	
}
.navbar-top-links li a {
	color: #fff;
}
.nav.navbar-top-links a.dropdown-toggle {
	text-shadow:none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background: none !important;
}
a.minimalize-btn  {
	color: #fff !important;
}

