

.page-content-wrapper.no-margin {
	margin: 20px 40px 15px;
}
.page-header {
	padding: 10px 35px;
}
.page-header h2, .page-header h3, .page-header h4, .page-header h5 {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}
.page-header .breadcrumb {
	float: right;
	padding: 10px 0 0 ;
	margin-bottom: 10px;
	font-size: 11px;
}
.navbar-fixed-top {
	background: #fff;
	border-bottom:1px solid #e7eaec
}
.navbar-header {
	height: 58px;

}
.navbar-header .minimalize-btn {
	margin: 14px 15px 5px 15px;

}
.navbar-header .minimalize-btn.btn-primary {
	background:#f7f9fa;
	border: none !important;
	
}
.navbar-header .minimalize-btn.btn-primary i{
	color: #666 !important;
}
#sidebar-navigation {
	border-right: 1px solid #e7eaec;
	background: #f7f9fa ;
}
#sidebar-navigation .logo {
	background:#f7f9fa;
	line-height: 58px;
	border-bottom: 1px solid #e7eaec;
	
}
#sidebar-navigation .logo a{ color: #34495e;}
#sidemenu li.profile-sidebar {
	background: #fff;
	margin-bottom: 0px;
	border-bottom: none !important;
	color: #6a6c6f;
	border-bottom: 1px solid #e7eaec !important;
}
#sidemenu li.profile-sidebar span{
    text-transform: uppercase;  
     font-size: 11px;
     color: #6a6c6f;
}
#sidemenu  > li {

}
#sidemenu  > li > a{
	padding: 10px 20px;
	color: #6a6c6f;

}
#sidemenu  > li > a i{ 
	color: #6a6c6f;
}
#sidemenu > li > a:hover, 
.expanded-menu > li > a:focus {
	background: #fff !important;
	color: #333 !important;
}
#sidemenu > li.active > a {
	background: #fff;
}
#sidemenu > li.active > a i {
	color: #6a6c6f;	
}
.nav.nav-second-level {
	background: #fff;
	    display: block;
}

.nav-second-level > li, .nav-third-level > li {
	border-bottom: 1px solid #e7eaec !important;	
}
#sidemenu .nav-second-level li a {
	background: none !important;
	color: #6a6c6f;
	padding: 5px 5px 5px 40px;
	font-size: 11px; 
	font-weight: 600;
	position: relative;
    display: block;
}
.navbar-mega-menu {

	background-color: #1ab394 !important;
}
ul.navbar-mega-menu li ul li a {
	color: #fff;
}
ul.navbar-mega-menu li ul li a i {
	color: #1ab394;
}
ul.navbar-mega-menu .dropdown-menu  li.divider {
	border-bottom: 1px solid #eee;
}
body.minimize-sidemenu .navbar-mega-menu {

}
body.body-small .navbar-mega-menu {

}
.sidebar-right .header {
	background: #1ab394 ;
}
.modal-header {
	background: #f7f9fa ;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}
.modal-header h4{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.sbox {
	border-top: solid 1px #eee;
}
/* Sidebar Stuff */
#small-top {
	background: #f7f9fa linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%) no-repeat scroll 50% 100% / 100% 6px;
}
#wrapper {
	background: #f7f9fa;
}
#page-wrapper {
	margin: 0 0 0 180px;
}
.navbar-fixed-top {
	left: 180px;	
}

.footer.fixed {
	margin-left: 210px;
}
.bird-head .page-header {margin-top: 0px;}

#sidemenu {display: block;}
.collapse.in, .nav.nav-second-level.collapse.in {
    display: block;
}

.collapse, .nav.nav-second-level.collapse {
    display: none;
}

#sidemenu .nav>li {    position: relative;
    display: block;}