$accent-color: #F66857;
$comment-link-color: #899eb8;

// Bg
$body-bg: transparent;

// Fonts
// $font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-size-base: 0.9375rem;
$body-color: #333;

// Borders
$border-radius: .125rem;
$border-radius-lg: .125rem;

// Forms
$input-color-placeholder: #999;

// Colors
$green: #28a745;

$btn-secondary-bg: #f9f9f9;
$btn-secondary-border: #c6c6c6;

// Dropdowns
$dropdown-link-active-bg: #f7f7f9;
$dropdown-link-active-color: #1d1e1f;
$dropdown-border-color: #d3d3d3;
